<h1>Networking Tracker</h1>

<h2>New contact</h2>
<%= form_for @contact, url: root_path do |f| %>
  <%= f.text_field :first_name, placeholder: 'First name' %>
  <%= f.text_field :last_name, placeholder: 'Last name' %>
  <%= f.text_field :email, placeholder: 'Email' %>
  <%= f.text_field :phone, placeholder: 'Phone' %>
  <%= f.text_field :linked_in, placeholder: 'LinkedIn' %>
  <%= f.text_field :twitter, placeholder: 'Twitter' %>
  <%= f.text_field :other, placeholder: 'Other' %>
  <%= f.submit 'Create contact', class: "btn btn-primary btn-sm" %>
<% end %>
