<!DOCTYPE html>
<html>
  <head>
    <title>RailsNewSetup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: "alert alert-#{type}" %>
    <% end %>
      <% if current_user %>
        Welcome, <%= current_user.username %>
        <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "Login", login_path %>
        <%= link_to "Sign up", new_user_path, class: "btn btn-primary" %>
      <% end %>
    <%= yield %>
  </body>
</html>
